- title "Listing Creditors"
%table.table
  %tr
    %th Name
  = render creditors, :pass_through => pass_through
.action-bars
  -# A button will be placed in the near future?
  = will_paginate creditors