- title "Are you sure you want to destroy this creditor?"

= semantic_form_for @creditor, :html => { :method => :delete } do |f|
  = f.buttons do
    = f.commit_button "Destroy"
    %li= link_to "Cancel", creditors_path
