= tabs_for(:class => 'secondary-navigation') do |tab|
  - tab.create(creditors_path(@pass_through), '« Back')
  - tab.create(new_creditor_path, 'New Creditor', :item_html => { :class => 'active' }) do
    .content
      %h2 Add a new Creditor
      = render :partial => 'layouts/flashes'
      = render 'form', :creditor => @creditor, :pass_through => @pass_through