%ul.secondary-navigation
  %li= link_to("« Back", creditors_path(@pass_through))
  %li= link_to("New Creditor", new_creditor_path, :class => 'current')
= render :partial => 'new', :locals => { :creditor => @creditor, :pass_through => @pass_through }, :layout => 'shared/block_content'
