//** SCREEN STYLES **//

// Imports --------------------------------------------------------------

@import "defaults";
@import "fancy-buttons";
@import "structure";
@import "form";
@import "theme";
@import "amount";

/* Layout -------------------------------------------------------------- */

@include susy;

// change '.container' to match your HTML container element
// or @extend it to apply multiple containers on your site.
#container {
  @include container;
  @include show-grid("grid.png");
}

// show-grid loads a 64+16x24 grid image by default
// For other grid settings, run `compass grid-img 30+10x20`
// Where 30 is the column width, 10 is the gutter width,
// and 20 is the (optional) line-height.

/* Styles -------------------------------------------------------------- */

/* jQuery UI ----------------------------------------------------------- */
.ui-autocomplete-category {
  font-weight: bold;
  padding: .2em .4em;
  line-height: 1.5;
}
.ui-autocomplete {
  max-height: 180px;
  overflow-y: auto;
  /* prevent horizontal scrollbar */
  overflow-x: hidden;
}
