= tabs_for(:class => 'secondary-navigation') do |tab|
  - tab.create(bank_accounts_path, '« Back') do
    = render :partial => 'edit', :locals => { :bank_account => @bank_account }, :layout => 'shared/block_content'