= tabs_for(:class => 'secondary-navigation') do |tab|
  - tab.create('table_container', 'Bank Accounts', :item_html => { :class => 'active'}) do
    = render :partial => 'index', :locals => { :bank_accounts => @bank_accounts }, :layout => 'shared/block_content'