%ul.secondary-navigation
  %li= link_to("Bank Accounts", bank_accounts_path, :class => 'current')
= render :partial => 'index', :locals => { :bank_accounts => @bank_accounts }, :layout => 'shared/block_content'
