- title "Are you sure you want to destroy this preset?"

= semantic_form_for @preset, :html => { :method => :delete } do |f|
  = f.buttons do
    = f.commit_button "Destroy"
    %li= link_to "Cancel", presets_path
