%ul.secondary-navigation
  %li= link_to("« Back", presets_path(@pass_through))
  %li= link_to("New Preset", new_preset_path)
= render :partial => 'presets/edit', :locals => { :preset => @preset, :pass_through => @pass_through }, :layout => 'shared/block_content'

- content_for :sidebar do
  .block
    %h3 Category
    .content
      = render :partial => 'categories/form', :locals => { :category => @category, :pass_through => @pass_through }
