= tabs_for(:class => 'secondary-navigation') do |tab|
  - tab.create(new_preset_path, 'New Preset') do
    = render :partial => 'index', :locals => { :presets => @presets, :pass_through => @pass_through }, :layout => 'shared/block_content'