%ul.secondary-navigation
  %li= link_to("New Preset", new_preset_path)
= render :partial => 'index', :locals => { :presets => @presets, :pass_through => @pass_through }, :layout => 'shared/block_content'
