= tabs_for(:class => 'secondary-navigation') do |tab|
  - tab.create(categories_path(@pass_through), '« Back')
  - tab.create(new_category_path, 'New Category') do
    .content
      %h2 Edit Category
      = render 'form', :category => @category, :pass_through => @pass_through