- content_for :secondary_navigation do
  %li= link_to "« Back", categories_path(@pass_through)
  %li.active= link_to "New Category", new_category_path(@pass_through)

- title "Add a new Category"

= render 'form', :category => @category