= tabs_for(:class => 'secondary-navigation') do |tab|
  - tab.create(new_upload_path, 'New Upload') do
    .content
      %h2 Editing upload
      = render :partial => 'layouts/flashes'
      = render 'form', :upload => @upload