= tabs_for(:class => 'secondary-navigation') do |tab|
  - tab.create(new_upload_path, 'New Upload', :item_html => { :class => 'active' }) do
    .content
      %h2 Add a new Upload
      = render :partial => 'layouts/flashes'
      = render 'form', :upload => @upload