%ul.secondary-navigation
  %li= link_to("New Upload", new_upload_path)
= render :partial => 'show', :locals => { :upload => @upload }, :layout => 'shared/block_content'

- content_for :sidebar do
  .block
    %h3 Header
    .content
      %ul
        %li= link_to "Expenses", upload_expenses_path(@upload)
        %li Bar
