- content_for :secondary_navigation do
  %li= link_to "« Back", :back

- content_for :sidebar do
  .block
    %h3 Category
    .content
      = render :partial => 'categories/form', :locals => { :category => @category, :pass_through => @pass_through }

- title "Edit Expense"

= render 'expenses/form', :expense => @expense, :bank_account => @bank_account, :pass_through => @pass_through