= tabs_for(:class => 'secondary-navigation') do |tab|
  - tab.create(bank_account_expenses_path(@bank_account, @pass_through), '« Back') do
    = render :partial => 'edit', :locals => { :expense => @expense, :bank_account => @bank_account, :pass_through => @pass_through }, :layout => 'shared/block_content'

- content_for :sidebar do
  .block
    %h3 Category
    .content
      = render :partial => 'categories/form', :locals => { :category => @category, :pass_through => @pass_through }
