= javascript_include_tag(:defaults)

-#  Append your own using content_for :javascripts
= yield :javascripts

-# yui profiler and profileviewer
- if Rails.env == 'development'
  = javascript_include_tag 'profiling/yahoo-profiling.min', 'profiling/config'